@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*<img src="img/room.jpg" alt="room">*/
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #333;
	background-color: #fff;
	margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.1;
	color: inherit;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	text-decoration: none;
  color: #0b93ee;
  background-color: transparent;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:hover,
.ba-button:hover,
.btn-primary:hover,
.btn:hover,
.btn-backward:hover {
  background-color: #60606e;
  color: white;
  border-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus,
input[type="button"]:focus,
button:focus {
	outline: none;
}
textarea {

}

img {
	max-width: 100%;
	height: auto;
}

.btn {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 40px;
	display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #0b93ee;
  border-color: #0b93ee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .btn-primary,
  .btn-backward {
    width: 100%;
  }
}

/* Floating social icons */

#float-social {
  display: none;
  position: fixed;
  top: 40%;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 9999;
}

#float-social ul {
  padding-left: 0;
}

#float-social ul li {
  display: flex;
  justify-content: center;
}

#float-social ul li a {
  display: block;
  padding: 7px;
  color: #111;
  -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
      -ms-transition: ease-in-out .5s;
        -o-transition: ease-in-out .5s;
          transition: ease-in-out .5s;
}

#float-social ul li a:hover {
  color: #777;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

#float-social i { font-size: 25px; }

#float-social .upwork {
  text-decoration: none;
  font-size: 25px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 0.7;
}

@media screen and (max-width: 690px) {
  #float-social ul li a {
      padding: 5px;
  }
  #float-social i { font-size: 20px; } 
  #float-social .upwork { font-size: 20px; }
}

/* Header */

.ba-intro {
  background-size: cover;
  position: relative;
  padding-bottom: 160px;
}

.ba-intro__title {
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.ba-intro__title span {
  display: inline-block;
  border: 10px solid #60606e;
  padding: 14px 36px;
  position: relative;
  font-size: 48px;
  line-height: 1;
  color: white;
}

.ba-intro__title span small {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  background: #0b93ee;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.ba-intro__subtitle--home {
  color: #60606e;
}

.ba-intro__body {
  position: relative;
  z-index: 1;
  padding: 260px 0 180px;
  text-align: center;
  font-size: 16px;
}

.ba-intro__body--home a.down-arrow,
.ba-intro__body--resume a.down-arrow,
.ba-intro__body--skills a.down-arrow,
.ba-intro__body--blog a.down-arrow,
.ba-intro__body--contact a.down-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 60px;
  font-size: 50px;
  color: #dadada;
  -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
          transition: all .3s ease-in;
  animation: go-down 1s infinite linear;
}

@keyframes go-down {
  0% { transform: translateY(0); color: #dadada; }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0); color: #fff; }
  75% { transform: translateY(10px); }
  100% { transform: translateY(0); color: #dadada; }
}

.ba-intro--home {
  margin-bottom: 100px;
  padding-bottom: 0;
}

.ba-intro--home:before {
  background: rgba(255, 255, 255, 0.85);
}

.ba-intro-about {
  font-size: 16px;
  line-height: 1.8;
  position: relative;
  bottom: -100px;
  background: rgb(255,255,255, 0.4);
  /*background-image: linear-gradient(to bottom, rgb(0,0,0, 1) , rgb(255,255,255, 0.5));*/
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.ba-title {
  position: relative;
  margin-top: 0;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
}

.ba-title + p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ba-title span {
  position: relative;
  z-index: 1;
}

.ba-title span:before {
  content: "";
  width: 67px;
  height: 21px;
  background: #0b93ee;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -1;
}

@media (max-width: 768px) {
  .ba-title span:before {
    width: 37px;
    height: 15px;
  }
}

.ba-intro-about a {
  margin-bottom: -5%;
}

.ba-page-title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: #fff;
}

/* Nav */

.ba-top-navbar {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.ba-main-menu li a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #60606e;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
  float: right;
}

.ba-main-menu li a:hover, 
.ba-main-menu li a:focus {
  color: #0b93ee;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  width: 31px;
  margin: 3px;
}

@media (min-width: 992px) {
.navbar-nav li {
    margin-left: 20px;
  }

  .navbar-nav li:first-child {
    margin-left: 50px;
  }
}

@media (max-width: 992px) {
  .navbar-nav li:hover {
    background-color: #60606e;
    color: white;
  }
}

button[type="button"]:hover .navbar-toggler {
  background-color: transparent;
  border: none;
}

/* Breadcrumbs */

.breadcrumb {
  padding: 8px 0 160px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
}

.breadcrumb > li {
  display: inline-block;
  text-transform: uppercase;
  font: 700 14px/1 "Montserrat", Helvetica, Arial, sans-serif;
}

.breadcrumb > li + li:before {
  content: "/ ";
  padding: 0 5px;
  color: #60606e;
}

.breadcrumb li a {
  color: #60606e;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #fff;
}

.breadcrumb > .active {
  color: #60606e;
}

/* Service */

main {
  padding-top: 130px;
}

.ba-section {
  margin-bottom: 100px;
}

.ba-section__content {
  max-width: 750px;
  margin: 0 auto 100px;
  text-align: center;
}

.ba-service {
  margin-bottom: 55px;
}

.ba-service__icon {
  font-size: 36px;
  line-height: 1;
}

.ba-service__icon:hover,
.ba-services__icon:hover {
  display: inline-block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ba-service__title {
  margin: 10px 0 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.ba-service__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #999;
  text-transform: uppercase;
  font-size: 14px;
}

.ba-service__list li {
  padding-top: 13px;
  line-height: 1.2;
}

.ba-service-animation {
  background-color: #333;
}

#container {
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  padding-top: 150px;  
  width: 100%;
  bottom: 50%;
  display: block;
  line-height: 1.5;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 0px 10px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #1058a4;
}
#flip div:last-child div {
  background: #DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

@media (max-width: 576px) {
  #container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Portfolio */

.ba-category__title {
  padding-bottom: 15px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.ba-portfolio-filter {
  padding: 0;
  list-style: none;
}

.ba-portfolio-filter a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #60606e;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 5px 20px;
  background-color: transparent;
  text-decoration: none;
}

.ba-portfolio-filter a:hover {
  background-color: #60606e;
  color: #FFF;
}

.ba-portfolio-filter a:active, 
.ba-portfolio-filter a.active {
  background-color: #0b93ee;
  color: #FFF;
}

.ba-portfolio-grid {
  margin: -15px;
}

.ba-portfolio-grid__item {
  float: left;
  width: 33.3%;
  padding: 15px;
}

/* Skills */

.main-about {
  padding-top: 30px;
}

.ba-intro__subtitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

.ba-service__icon {
  font-size: 36px;
  line-height: 1;
}

.ba-service__icon--about {
  display: inline-block;
  color: #FFF;
  background-color: #0b93ee;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  margin-right: 15px;
}

.ba-service__title--about {
  display: inline-block;
  vertical-align: top;
}

.ba-service__title--about + p {
  margin-top: 14px;
  margin-bottom: 50px;
}

.ba-slider__item {
  outline-style: none;
}

.ba-slider a {
  padding: 2px 10px;
  margin-bottom: 15px;
}

.ba-slider p {
  margin: 26px;
  line-height: 2.14;
}

.ba-slider img {
  display: inline-block;
}

.slick-dots li {
  width: 16px;
  height: 5px;
  background: #60606e;
}

.slick-dots li:hover {
  background: #0b93ee;
}

.slick-dots li.slick-active {
  width: 31px;
  background: #0b93ee;
}

.slick-dots li button {
  display: none;
}

.ba-img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

#skills {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#skills h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333;
}

#skills h3 {
  font-size: 28px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

#skills .flex-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 50px 0;
}

#skills .flex-skills div {
  flex-basis: 47%;
  margin: 20px 0;
}

#skills .flex-skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

#skills .flex-skills ul li {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin: 10px;
  font-size: 18px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #eee;
  color: #252525;
  border-radius: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
      -ms-transition: all .4s ease-in;
        -o-transition: all .4s ease-in;
          transition: all .4s ease-in;
  cursor: pointer;
}

#skills .flex-skills ul li:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}

#skills .flex-skills i {
  font-size: 35px;
  margin-right: 10px;
}

#skills a {
  padding: 15px 25px;
  font-size: 18px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #0b93ee;
  color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  opacity: .9;
  -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
      -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
          transition: all .3s ease-in;
}

#skills a:hover { opacity: 1; }

#skills i.photoshop { color: #1058a4; }
#skills i.illustrator { color: #f47723; }
#skills i.chrome { color: #42a73e; }

@media screen and (min-width: 680px) and (max-width: 1080px) {
    #skills { width: 90%; }

    #skills .flex-skills ul li { font-size: 16px; }

    #skills .flex-skills i { font-size: 30px; }
}

@media screen and (max-width: 679px) {
    #skills {
        width: 100%;
        margin: 0;
    }
    
    #skills h1 { margin-bottom: 10px; }
    
    
    #skills .flex-skills {
        flex-direction: column;
        margin: 30px 0;
    }
    
    #skills .flex-skills div {
        width: 95%;
        margin: 20px auto;
    }
    
    #skills .flex-skills ul li { font-size: 16px; }
    
    #skills .flex-skills i { font-size: 28px; }
    
    #skills a {
        padding: 20px 25px;
        font-size: 19px;
    }
}

#testimonials {
  margin-top: 80px;
}

/* Blog */

.ba-post {
  margin-bottom: 100px;
  font-size: 14px;
}

.ba-post:last-child {
  margin-bottom: 0;
}

.ba-post__img {
  display: block;
  margin-bottom: 30px;
}

.ba-post__img:hover {
  opacity: .8;
}

.ba-post__img img {
  display: block;
}

.ba-post__date {
  display: inline-block;
  background: #0b93ee;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 10px 23px;
  line-height: 1;
}

.ba-post__title {
  font-size: 18px;
}

.ba-post a {
  text-transform: uppercase;
  color: #60606e;
  text-decoration: none;
  font-weight: 700;
}

.ba-post a:hover {
  color: #0b93ee;
}

.ba-post__comments {
  display: inline-block;
  margin-left: 15px;
  color: #ccc;
}

.ba-post__comments i {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.ba-post__likes {
  display: inline-block;
  margin-left: 18px;
  color: #ccc;
}

.ba-post__likes i {
  font-size: 18px;
  color: #ea6a6a;
  margin-right: 8px;
  vertical-align: middle;
}

.ba-post__readmore:after {
  content: "\f30f";
  display: inline-block;
  font-family: 'Ionicons';
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}

.ba-post__meta {
  padding-top: 8px;
  padding-bottom: 20px;
}

.ba-post p {
  padding-bottom: 15px;
}

/* Blog - Search */

.ba-widget {
  margin-bottom: 45px;
}

.ba-widget__title { 
  font-size: 14px;
  text-transform: uppercase;
  }

.ba-search-form {
  background: #ECECEC;
  font-size: 0;
}

.ba-search-form input, 
.ba-search-form button, 
.ba-search-form input:focus {
  outline-style: none;
  background: transparent;
  border: none;
  border-radius: 0;
  display: inline-block;
  color: #60606e;
  line-height: 40px;
  height: 40px;
  box-shadow: none;
}

.ba-search-form input {
  width: calc(100% - 51px);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #60606e;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  text-transform: uppercase;
}

.ba-search-form i {
  font-size: 18px;
}

.ba-search-form--blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ba-search-form--blog input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ba-search-form--blog input:hover,
.ba-search-form--blog input:focus { 
  outline: none;
  border: 0; 
  box-shadow: none;
}

.ba-search-form--blog button {
  font-size: 18px;
  padding-right: 25px;
}

.ba-search-form--blog button:hover {
  color: #0b93ee;
  background-color: transparent;
}

/*.ba-search-form--blog button:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}*/

.form-control .blog-search-button {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ba-search-form--blog input,
.ba-search-form--blog button {
  background-color: #ececec;
  color: #60606e;
  border: 0;
  outline: none;
}

/* Blog - Widget */

.ba-categories__list {
  margin: 0; 
  padding: 0;
  list-style: none;
}

.ba-categories__list li {
  padding: 10px;
  border-bottom: 1px solid #60606e;
}

.ba-tags__list { 
  margin: 0;
  padding: 0;
  list-style: none;
}

.ba-tags__list li {
  padding: 5px 15px;
  margin: 2px;
  background: #E2E2E2;
}

.ba-tags__list a {
  text-decoration: none;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #999999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.ba-tags__list li:hover a {
  color: #FFF;
}

.ba-tags__list li:hover,
.ba-tags__list li:active {
  background: #0b93ee;
}

.nav-tabs .nav-link {
  border-bottom: 2px solid #e3e3e3;
}

.nav-tabs .nav-link.active {
  border-color: transparent transparent #0b93ee;
  background: none;
  border-width: 0 0 2px;
}

.nav-tabs > li {
  margin-bottom: -2px;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
  border-width: 0 0 2px;
  border-color: transparent transparent #0b93ee;
  color: #60606e;
}

.nav-tabs > li > a { 
  font: 700 12px/1 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  text-transform: uppercase;
  border-width: 0 0 2px;
  padding: 15px 10px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:active,
.nav-tabs > li > a:focus {
  border-color: transparent;
  background: none;
  color: #60606e;
}

.ba-sidebar-post {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
}

.ba-sidebar-post__img { 
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.ba-sidebar-post__img img {
  display: block;
}

.ba-sidebar-post__text {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ba-sidebar-post__text a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #60606e;
  margin: 0;
  text-transform: uppercase;
  word-wrap: break-word;
}

.ba-sidebar-post__text time {
  font-size: 12px;
  font-weight: 400;
  color: #9a9a9a;
}

@media (max-width: 768px) {
  .ba-post:last-child {
    margin-bottom: 100px;
  }
  .ba-post:first-child {
    margin-top: 100px;
  } 
}

/* Contacts Page */
/* Contact / Map / Form */

.ba-intro--contacts {
  margin-bottom: 0;
  padding-bottom: 0;
}

#main-contact {
  padding-top: 0 !important;
}

.contact {
  overflow: hidden;
}

.contact,
.contact__map {
  width: 100%;
  min-height: 900px;
  position: relative;
}

.contact__map {
  opacity: .3;
  z-index: 1;
}

.contact__bg {
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  background-color: #91ABD2;
}

.contact__title {
  position: absolute;
  z-index: 2;
  background-color: transparent;
  width: 300px;
  height: 110px;
  top: 0;
  left: 0;
  margin: auto;
  bottom: 655px;
  right: 0;
}

.contact__title img {
  display: block;
  width: 44px;
  margin: 0 auto;
}

.contact__title h2 {
  text-align: center;
  color: #fff;
  font-family: Proxima Nova;
  font-size: 36px;
  font-weight: 600;
}

.contact__form {
  max-width: 860px;
  height: 410px;
  position: absolute;
  z-index: 2;
  top: 370px;
  left: 0;
  margin: auto;
  bottom: 0;
  right: 0;
}

.contact__form-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify; 
  justify-content: space-between; 
  width: 100%;
}

.contact__form-info input {
  color: #000;
  font-family: Proxima Nova;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  opacity: .6;
  width: 48%;
  height: 45px;
  border: none;
  padding-left: 25px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

.contact__form-info input:focus {
  opacity: 1;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.contact__form textarea {
  margin-top: 25px;
  color: #000;
  font-family: Proxima Nova;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  opacity: .6;
  width: 100%;
  height: 200px;
  padding-top: 15px;
  border: none;
  padding-left: 25px;
  -webkit-border-radius: 4px;
  border-radius: 4px; 
  outline: none;
}

.contact__form textarea:focus {
  opacity: 1;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.contact__form-btn {
  display: block;
  width: 300px;
  height: 75px;
  background-color: #0b93ee !important;
  border-bottom: 4px solid #665f60 !important;
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-top: 1px solid transparent !important;
  margin: 50px auto 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff !important;
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 700;
  font-style: normal !important;
  cursor: pointer;
}

.contact__form-btn:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  border: 4px solid #8783b0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
}

.contact__address,
.contact__tel {
  position: absolute;
  right: 0;
  top: 210px;
  z-index: 2;
  width: 350px;
  height: 95px;
  background-color: #fff;
  -webkit-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px);
  -webkit-transition: -webkit-transform .1s ease-in;
  transition: -webkit-transform .1s ease-in;
  -o-transition: transform .1s ease-in;
  transition: transform .1s ease-in;
  transition: transform .1s ease-in,
  -webkit-transform .1s ease-in;
  cursor: pointer;
}

.contact__address-icon,
.contact__tel-icon {
  width: 90px;
  display: inline-block;
  height: 100%;
  background-color: #0b93ee;
  vertical-align: top;
  padding-top: 25px;
  padding-left: 25px;
}

.contact__address-info,
.contact__tel-info {
  width: 255px;
  display: inline-block;
  height: 100%;
  text-align: center;
  padding-top: 12px;
}

.contact__address-info p,
.contact__tel-info p {
  color: #000;
  font-family: Proxima Nova;
  font-size: 18px;
  font-weight: 400;
}

.contact__address:hover,
.contact__tel:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  -o-transition: transform .7s;
  transition: transform .7s;
  transition: transform .7s,
  -webkit-transform .7s;
}

@media (max-width: 550px) {
  .contact__address,
  .contact__tel {
    right: 0;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.contact__tel {
  top: 305px;
}

.contact__tel-icon {
  padding-left: 35px;
  padding-top: 30px;
}

.contact__tel-info {
  padding-top: 35px;
}

.contact__top {
  position: absolute;
  right: 10%;
  bottom: 65px;
  z-index: 2;
  width: 85px;
  height: 85px;
  background-color: rgba(159,154,207,.5);
  padding-top: 30px;
  padding-left: 25px;
}

.contact__top:hover {
  bottom: 75px;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

@media (max-width: 750px) {
  .contact__top {
    right: 0;
  }
}

@media (max-width: 550px) {
  .contact__top {
    display: none;
  }
}

/* Resume */

.main-services {
  padding-top: 30px;
}

.main-services .ba-intro__body {
  padding-top: 0;
  padding-bottom: 100px;
}

.main-services .ba-intro__body p {
  max-width: 580px;
  margin: 0 auto;
}

.text--what {
  margin-bottom: 20px;
}

.ba-check-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 5px;
}

.ba-check-list li {
  position: relative;
  padding-left: 20px;
  line-height: 30px;
}

.ba-check-list li:before {
  position: absolute;
  font-family: "Ionicons";
  content: '\f374';
  color: #0b93ee;
  left: 0;
}

.ba-pulse {
  padding-top: 100px;
}

.ba-services__icon {
  font-size: 60px;
  position: relative;
  z-index: 1;
}

.ba-services__icon:after {
  position: absolute;
  content: '';
  background: #0b93ee;
  width: 50px;
  height: 20px;
  left: -10px;
  bottom: 17px;
  z-index: -1;
}

.ba-pulse-title {
  text-transform: uppercase;
  margin: 0 0 13px;
  position: relative;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.ba-pricing-plan {
  padding-top: 80px;
  padding-bottom: 0;
}

.card {
  border: none;
}

.ba-card {
  padding: 30px;
  margin-bottom: 20px;
  border-top: 5px solid #0b93ee;
  position: relative;
  transition: box-shadow .3s ease-in-out;
}

.ba-card:hover {
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
}

.ba-card:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-top: 10px solid #0b93ee;
}

.card-title {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 13px;
  position: relative;
  color: #333;
}

.ba-card__price {
  padding: 0 20px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.bg-primary {
  background-color: #6b181e !important;
  color: #fff;
}

.ba-card__list {
  padding: 25px 0;
  line-height: 36px;
}

.ba-card .btn-primary {
  padding: 10px 20px;
}

.ba-education .card {
  width: 100%;
  display: block;
}

/* Resume - Gallery */

#portfolio .flex-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#portfolio .flex-portfolio div { 
    flex-basis: 30%;
    margin: 25px 0;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

#portfolio .flex-portfolio div:hover {
    box-shadow: 2px 15px 30px rgba(90, 91, 95, 0.3), 0 8px 25px rgba(90, 91, 95, 0.2);
    -webkit-transform: scale(1.02) translateY(-10px);
       -moz-transform: scale(1.02) translateY(-10px);
        -ms-transform: scale(1.02) translateY(-10px);
         -o-transform: scale(1.02) translateY(-10px);
            transform: scale(1.02) translateY(-10px);
}

#portfolio .flex-portfolio img { width: 100%; }

#portfolio .flex-portfolio h2 {
    margin: 12px 0 14px 0;
    font-size: 18px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #252525;
    text-align: center;
}

#portfolio .flex-portfolio h2 a {
    color: #252525;
    opacity: 0.9;
}

#portfolio .flex-portfolio h2 a:hover {
    color: #000;
    opacity: 1;
}

@media screen and (min-width: 680px) and (max-width: 1080px) {
    #portfolio .flex-portfolio div { 
        flex-basis: 47%;
    }
}

@media screen and (max-width: 679px) {
    #portfolio h1 { margin-bottom: 10px; }

    #portfolio .flex-portfolio {
        flex-direction: column;
    }

    #portfolio .flex-portfolio div {
        width: 90%;
        margin: 20px auto;
    }
}

#accomplishments .ba-card__list {
  padding-top: 0;
}

#accomplishments .list-group {
  margin-bottom: 60px;
}

/* Subscribe */

.ba-subscribe {
  background: #0b93ee;
  padding: 50px 0;
  margin: 0;
}

.ba-subscribe h2 {
  color: #FFF;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}

.ba-subscribe a {
  margin-bottom: 50px;
}

.ba-subscribe form {
  background: #FFF;
  padding: 18px 26px 18px 20px;
}

.ba-subscribe h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.ba-subscribe input {
  width: calc(100% - 124px);
  outline: none;
  padding: 12px 19px;
  box-shadow: none;
  border-radius: 0;
}

.ba-subscribe input::-webkit-input-placeholder {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.ba-subscribe input::-moz-placeholder {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.ba-subscribe input:-ms-input-placeholder {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.ba-subscribe input::placeholder {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #cdcdcd;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

.ba-subscribe p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0 29px;
}

.btn-backward {
  background: #FFF;
}

.row-form {
  margin: 0;
}

@media (max-width: 576px) {
  .row-form {
    border: none;
    text-align: center;
  }
  .ba-subscribe input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
}

/* Footer */

.ba-footer {
  padding: 50px 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #9a9a9a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

.ba-footer p {
  margin: 0;
}

.ba-fotter-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ba-fotter-menu li {
  display: inline-block;
}

.ba-fotter-menu span {
  padding-left: 15px;
  padding-right: 15px;
}

.ba-fotter-menu li a {
  color: #9a9a9a;
}

.ba-fotter-menu li a:hover, 
.ba-fotter-menu li a:focus {
  text-decoration: none;
  color: #0b93ee;
}

.ba-footer__content {
  text-align: right;
  margin-right: -15px;
}

.ba-social {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  text-align: right;
  /*margin-right: -20px;*/
}

.ba-social__icon {
  color: #999;
  font-size: 18px;
}

.ba-social__icon:hover, 
.ba-social__icon:focus {
  color: #0b93ee;
}

.ba-social li {
  display: inline-block;
  margin-right: 20px;
}

.ba-social li:last-child {
  margin-right: 0px;
}

/* Scroll to Top Button */

#myBtn {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 0;
  color: #fff;
  background: #1058a4;
  border: none;
  border-radius: 2px;
  opacity: 0.92;
  z-index: 9999;
  -webkit-transition: ease-in .5s;
    -moz-transition: ease-in .5s;
      -ms-transition: ease-in .5s;
        -o-transition: ease-in .5s;
          transition: ease-in .5s;
}

#myBtn:hover { opacity: 0.99; }

@media screen and (max-width: 989px) {
  #myBtn {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 0;
  }

  #myBtn img {
    width: 26px;
    height: 26px;
  }
}

/* Social Sharing Buttons */

#share {
  width: 100%;
}

#share a {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 8px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  opacity: 0.75;
  transition: opacity 0.15s linear;
  text-align: center;
}

#share a:hover {
  opacity: 1;
}

#share i {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #55acee;
}

.googleplus {
  background: #dd4b39;
}

.linkedin {
  background: #0077b5;
}

.pinterest {
  background: #cb2027;
}

/* Media */

@media (max-width: 992px) {
  .ba-footer {
    line-height: 1.7;
  }
  .ba-footer-menu {
    margin-bottom: 30px;
  }
  .ba-footer__cont {
    text-align: center;
  }
  .ba-social {
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .ba-title,
  .ba-category__title {
    font-size: 25px;
  }
  .ba-subscribe h2 {
    font-size: 23px;
  }
  .ba-title + p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .ba-intro__title span {
    font-size: 38px;
  }
  .ba-title,
  .ba-category__title {
    font-size: 20px;
  }
  main {
    padding-top: 100px;
  }
  .ba-section__content {
    margin-bottom: 50px;
  }
  .ba-service__title {
    font-size: 15px;
  }
  .ba-service__list {
    font-size: 12px;
  }
  .ba-service {
    margin-bottom: 30px;
  }
  .ba-section {
    margin-bottom: 20px;
  }
  .ba-subscribe h2 {
    font-size: 19px;
  }
  .ba-subscribe h3 {
    font-size: 18px;
  }
  .ba-subscribe p {
    font-size: 12px;
  }
  .ba-footer p {
    margin-top: 10px;
  }
  .ba-subscribe input {
    margin-bottom: 20px;
    width: 100%;
  }
  .ba-portfolio-grid {
    margin-bottom: 30px;
  }
  .ba-portfolio-grid__item {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .ba-portfolio-grid__item {
    padding: 3px;
  } 
  .ba-portfolio-grid {
    margin-top: 8px;
  } 
}

@media (max-width: 992px) {
  .ba-div-slider {
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .ba-section-main {
    margin-bottom: 100px;
  }
}

@media (max-width: 992px) {
  .ba-card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .img--what {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .ba-intro--home {
    margin-bottom: 80px;
  }
  .main-services .ba-intro__body {
    padding-bottom: 100px;
  }
  .ba-pricing-plan {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .ba-map {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

/* Canvas */

canvas {
  position: absolute;
  border: 1px soild black;
  z-index: -100;
  max-width: 100%;
  /*min-height: 795px;*/
}